---
import Week1 from "../pages/weeks/week-1.md";
import Week2 from "../pages/weeks/week-2.md";
---

<div>
  <Week1 />
  <Week2 />
</div>
<style is:global>
  div {
    width: 600px;
    margin-left: 60px;
  }

  h2 {
    font-size: 35px;
    color: orange;
  }

  span {
    color: #48e;
  }

  hr {
    opacity: 50%;
    margin-bottom: 60px;
  }

  img {
    width: 600px;
    height: 300px;
    opacity: 100%;
  }
</style>
